.vscode/**
.git/**
.github/**
**/*.ts
**/*.map
node_modules/**
.gitignore
src/**
tsconfig.json
.DS_Store
**/.DS_Store
out/**
webpack.config.js
.env
coverage/**
**/__tests__/**
**/test/**
*.test.js
*.test.ts
